################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/WebFormsSample/.vs/WebFormsSample
/WebFormsSample/packages
/WebFormsSample/WebFormsSample/bin
/WebFormsSample/WebFormsSample/obj/Debug
